@charset "UTF-8";

@media (max-width: 620px) {
  
  main {
    flex-direction: column;
    align-items: center;
    height: 720px;
    width: 430px;
  }
  
  .produto {
    width: 90%;
    gap: 20px;
  }
  
  .produto-img {
    width: 100%;
  }
  
  .nome-produto {
    font-size: 2.3em;
  }
  
  .btn-comprar {
    width: 100%;
    padding: 20px;
  }
}
